@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,100;1,300;1,400&display=swap');

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url(fundo.jpg) no-repeat;
    background-size: 100%;
    color: #fff;
    font: 400 1.8rem/1;
}

.title,
.content {
    width: 40%;
    margin-left: 4rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title h1{
    font-size: 5.2rem;
    font-weight: 800;
}

.title p {
    margin-top: 4rem;
    font-size: 3.2rem;
}

.content {
    display: flex;
    margin-top: 14rem;
    text-align: right;
    width: 90%;
    height: 30%;
    align-items: flex-end;
}

.text {
    width: 50%;
}

.text h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.text p, h3 {
    font-size: 2rem;
    line-height: 3rem;
}

.main {
    display: flex;
    align-items: center;
}

h3 {
    width: 60%;
    margin-left: 4rem;
    margin-top: 9rem;
}

.cards {
    width: 65%;
    margin: 10rem auto;
}

.card {
    background-color: #7159c1;
}

.card__image-container img {
    width: 100%;
}

.card__content,
.card__info {
    padding: 1.5rem;
}

.card__info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.card__content p {
    font-weight: bold;
    font-size: 2rem;
}

.card__info p {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.card__info i {
    margin-right: 2rem;
}

.card__time {
  text-align: right;
}

.exercicio {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 30%;
}

.exercicio p {
    font-size: 2rem;
    line-height: 3rem;}

h4 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.frase h1 {
    margin: 8%;
    text-align: center;
}

.rodape h2 {
    text-align: center;
    padding: 1rem;
    font-size: 1.4rem;
    height: 10%;
    background-color: #8257e6;
}


@media (min-width: 1000px) {
    
}
